<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="c1" class="beans.Citizen">
        <property name="aadhar" value="101"/>
        <property name="giveName" value="Mohideen Abdul Katheer"/>
        <property name="fatherName" value="Mohamed Amsa"/>
        <property name="dob" value="02-06-1998"/>
        <property name="mobile" value="8220644661"/>
    </bean>

    <bean id="c2" class="beans.Citizen">
        <property name="aadhar" value="102"/>
        <property name="giveName" value="Dhanalakshmi"/>
        <property name="fatherName" value="Narayanan"/>
        <property name="dob" value="03-05-1998"/>
        <property name="mobile" value="9789161541"/>
    </bean>
</beans>